root { 
    display: block;
}

#welcome-text {
   -fx-font-size: 50px;
   -fx-font-family: "Arial Black";
   -fx-fill: #cdf8fa;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actionSignIn {
  -fx-fill: BLUE;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

#actionCancel {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}